{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script src="https://kit.fontawesome.com/25995ada5b.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="about-container">
  <div class="image-container">
    <div class="image-fade-one"></div>
    <div class="about-image"></div>
    <div class="image-fade-two"></div>
  </div>
  <div class="about-text">
    <div class="about-fade-one">
      <h1><span>Creator's</span>  Story</h1>
    </div>
    <div class="about-text-image">
      <h2>About me</h2>
      <p>Jonathan is a joyful human being. He's always had a strong passion for computer, and most particularly for computer programming. From a very young age he decided he wanted to become a software engineer and that thought never left his mind.</p>
      <br />

      <h2>Leisure Time</h2>
      <p>
        Most of Jonathan's time is spent collecting stuff or gaining more knowledge. For him, the most important asset he possesses is his brain. He thus take great care making sure his brain is properly fed with information that adds to the wealth of knowledge he already has. Jonathan is also a passionate reader. For him, nothing is more pleasant than that freedom reading gives access to. That freedom to discover new worlds, ages in time you couldn't live because you were born too late. Freedom to explore great minds and currents of thoughts. Perhaps he enjoys reading so much because he himself often write about different subject matters, to express his mind and emotions. Somehow perhaps he thinks he can relate to those great men urge to write.
      </p>
      <br />
      <p>

        Jonathan's is also very artistic and always tries to convey that trait of his personality through his work. Every opportunity he's given is one to tell a tale, a story never before heard by his comtemporary fellow, a story yet to be unfold. He seeks enlightment of minds through everything he makes and communication of feelings in their purest form.
      </p>
    </div>
    <div class="about-fade-two">
      <h2>Find me on: </h2>
      <a href="https://www.linkedin.com/in/takam-jonathan/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.linkedin.com/in/takam-jonathan/"><i class="fa-brands fa-square-github"></i></a>
    </div>
  </div>
</div>
{% comment %} <h1>About PC Character Stories</h1>
<hr />
<p>
  I love pop culture.
</p> {% endcomment %}
{% endblock %}