{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Character Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="logo-container">
      <div class="logo-character-container">
        <h3>Character</h3>
      </div>
      <div class="logo-stories-container">
        <h4>Stories</h4>
      </div>
    </div>
    <nav class="nav-container">
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'character-index' %}">All characters</a></li>
          <li><a href="{% url 'character-create' %}">Add a character</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
        {% comment %} <li><a href="{% url 'home' %}">Home</a></li> {% endcomment %}
        {% comment %} <li><a href="/about">Add character</a></li> {% endcomment %}
      </ul>
    </nav>
  </header>
  <main>

  </main>
  {% block content %}
  {% endblock %}
</body>
</html>