{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Character Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="shortcut icon" href="{% static 'images/berserk.svg' %}" type="image/x-icon" sizes="38x38">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">

  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="logo-container">
      <div><span class="before">Character</span> <span class="after">Stories<span></div>
    </div>
    <nav class="nav-container">
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'character-index' %}">All characters</a></li>
          <li><a href="{% url 'character-create' %}">Add a character</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>

  </main>
  {% block content %}
  {% endblock %}
</body>
</html>