body {
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background: #000;
  margin-top: 75px;

}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 100vh;
  background: #000;
}

.about-text {
  width: 50%;
  min-height: 100%;
}

.image-container .image-fade-one, .image-fade-two {
  width: 80%;
  height: 20%;
  background: rgb(0, 0, 0); 
  margin-left: 95px;
}

.image-container .image-fade-one {
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(197,75,140,1) 100%);
}
.image-container .image-fade-two {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(214,72,215,1) 100%);
}

.image-container .about-image {
  width: 70%;
  height: 60%;
  background: url("../../static/images/Giorno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 0;
  border-top: 0;
}

.about-text .about-fade-one, .about-fade-two {
  width: 70%;
  height: 20%;
  background: rgb(0, 0, 0); 
}

.about-text .about-fade-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #a349a4;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,168,216,1) 100%); 
}

.about-fade-one span {
  color: white;
}

.about-text .about-fade-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
  background-color: #a349a4;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(202,44,146,1) 100%);
  color:  #aaf0d1;
}

.about-fade-two i {
  color: white;
  font-size: 40px;
}
.about-fade-two i:hover {
  color: #00bfff;
}

.about-text .about-text-image {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: 60%;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  color: white;
  border-image: linear-gradient(0.25turn, rgba(0,0,0, 1), rgba(255,240,245), rgba(163,73,164));
  border-image-slice: 1;
}

.about-text .about-text-image p {
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.about-text-image h2 {
  color: #1fcecb;
}