body {
  background: url("../../static/images/Giorno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  border: 2px solid white;
}

.image-container {
  width: 50%;
  min-height: 100%;
  border: 2px solid yellow;
}

.about-text {
  width: 50%;
  min-height: 100%;
  border: 2px solid red;
}

.image-container .image-fade-one, .image-fade-two {
  width: 100%;
  height: 20%;
  border: 2px solid green;
}

.image-container .about-image {
  width: 70%;
  height: 60%;
  border: 2px solid blue;
}