body {
  background: url("../../static/images/634254.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
}

header {
  /* border-bottom: 2px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  border-bottom: 2.5px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,255,255, 1), rgba(0,0,0), rgba(255,249,34));
  border-image-slice: 1;
  width:98%;
  margin-bottom: 20px;
  /* background: rgba(0,0,0, 0.31); */
  background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(200,200,200,1) 33%, rgba(0,0,0,1) 56%); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 40px;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.nav-container ul a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.nav-container ul a:hover {
  cursor: pointer;
  color: yellowgreen;
  text-decoration: underline;
  text-underline-offset: 10px;
}