body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../static/images/634254.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* width: 50%; */
  width: 100%;
  height: 100vh;
  gap: 30px;
}

.signup-form-container tbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.signup-form-container form {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  /* background: rgba(221, 160, 221, 0.5); */
  background: rbg(255, 255, 255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(200,200,200,1) 50%, rgba(0,0,0,1) 81%); 
  border-radius: 7px;
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #ff00ff; */
}

.signup-form-container .page-header h1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(200,200,200,1) 50%, rgba(0,0,0,1) 81%); 
  width: 500px;
  text-align: center;
  padding: 20px;
  font-size: 35px;
  border-radius: 7px;
}

.signup-form-container tr {
  display: flex;
  gap: 10px;
}

.signup-form-container tr td span {
  /* background-color: #000; */
  /* padding-top: 10px; */
  color: red;
  font-size: 17px;
  /* text-shadow: #fff .5px 0 3px; */
}

.signup-form-container tr input {
  width: 70%;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(45deg, #000, #fff) 1;
}

.signup-form-container tr input:focus {
  background-color: #000;
  color: #fff;
  border: 3px solid #ffdf00;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
}

.signup-form-container tr th {
  margin-top: 5px;
}

.signup-form-container tr label {
  font-size: 20px;
  color: #000;
}

.signup-form-container form button {
  width: 50%;
  height: 40px;
  /* margin-left: 30px; */
  margin-top: 30px;
  font-size: 18px;
  padding: 5px;
  background-color: #ff00ff;
  border: 2px solid white;
  outline: none;
  border-radius: 4px;
  color: #e5e4e2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: jump-shaking 1.33s infinite;
}

.signup-form-container button:hover {
  transform: scale(1.1);
  border: 2px solid #fff700;
}

/* @keyframes jump-shaking {
  0% { transform: translateX(0) }
  15% { transform: translateY(-5px) }
  35% { transform: translateY(-5px) rotate(13deg) }
  55% { transform: translateY(-5px) rotate(-13deg) }
  25% { transform: translateY(-5px) rotate(13deg) }
  35% { transform: translateY(-5px) rotate(-13deg) }
  80% { transform: translateY(0) rotate(0) }
} */

.red-text {
  background-color: #fff;
  font-size: 25px;
  color: red;
}
