@font-face {
  font-family: dubba;
  src: url("../../fonts/Ghoust\ Outline.otf");
}

.form-containere {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  margin-top: 75px;
}

.form-containere h2 {
  color: #b5a642;
  font-size: 35px;
  text-align: center;
  font-family: "dubba";
}
.form-containere label {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.form-legend {
  margin-right: 40px;
}

.form-legend input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.form-legend input:focus, textarea:focus {
  outline: 2px solid #ffae42;
}

.form-legend button {
  width: 200px;
  height: 40px;
  margin: 30px 160px;
  font-size: 20px;
  background-color: #ca2c92;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}